<h2>Course Listing</h2>

<ul>
  <li>Code: CS111</li>
  <li>Name: Introduction to Ruby</li>
  <li>Description: Rails is a full-stack framework. </li>
</ul>

<ul>
  <li>Code: CS112</li>
  <li>Name: Introduction to Ruby on Rails</li>
  <li>Description: Rails is a full-stack framework. </li>
</ul>
